<!-- to_do_web/src/app/task/task.component.html -->
<div class="flex items-center rounded-md p-3 bg-[#009688] my-2 text-white mx-4 md:mx-1">
  <input
    type="checkbox"
    [(ngModel)]="task.done"
    (change)="onToggle()"
    class="mr-2"
  />
  <span [class.line-through]="task.done">{{ task.content }}</span>
  <div class="ml-auto">
    <button (click)="onDelete()" class="px-2 py-1 text-white bg-red-500 rounded hover:bg-red-700 me-2">
      Delete
    </button>
    <button (click)="onEdit()" class="px-2 py-1 text-white bg-yellow-500 rounded hover:bg-yellow-700">
      Edit
    </button>
  </div>
</div>