<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-700">Sign up</h2>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="space-y-3">
      <!-- Email -->
      <div>
        <div class="mt-2">
          <input id="email" formControlName="email" type="email" autocomplete="email" placeholder="Email" required class="block w-full rounded-md border-0 py-1.5 px-3 bg-[#e5dfe8] shadow-sm focus:outline-none focus:ring-2 focus:ring-[#c2ff7b] placeholder:text-gray-400 sm:text-sm/6" />
          <div *ngIf=" signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched" class="text-sm text-red-600 mf-0">
            <span *ngIf="signUpForm.get('email')?.errors?.['required']">Email is required.</span>
            <span *ngIf="signUpForm.get('email')?.errors?.['email']">Enter a valid email address.</span>
          </div>
        </div>
      </div>

      <!-- Password -->
      <div class="mt-2 relative">
        <div>
        <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password" autocomplete="current-password" placeholder="Password" required class="block w-full rounded-md border-0 py-1.5 px-3 text-black shadow-sm focus:outline-none focus:ring-2 focus:ring-[#c2ff7b] placeholder:text-gray-400 sm:text-sm bg-[#e5dfe8]" />
        <!-- Bouton afficher/masquer -->
        <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500" >
          <!-- Icône SVG -->
          <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5" >
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>
          <!-- Icône barrée pour masquer -->
          <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5" >
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223a10.477 10.477 0 0 1 8.02-3.723c4.639 0 8.573 3.01 9.963 7.183a1.012 1.012 0 0 1 0 .633c-.562 1.608-1.604 3.01-2.935 4.087M14.121 14.121a3 3 0 1 1-4.243-4.243" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M20 20L4 4" />
          </svg>
        </button>
      </div>
    </div>
    <div *ngIf=" signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched" class="text-sm text-red-600 mf-0">
      <span *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required.</span>
      <span *ngIf="signUpForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</span>
    </div>


      <!-- Confirm Password -->
      <div class="mt-2 relative">
        <input id="confirmPassword" [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword" autocomplete="current-password" placeholder="Confirm password" required class="block w-full rounded-md border-0 py-1.5 px-3 text-black shadow-sm focus:outline-none focus:ring-2 focus:ring-[#c2ff7b] placeholder:text-gray-400 sm:text-sm bg-[#e5dfe8]" />
        <!-- Bouton afficher/masquer -->
        <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500" >
          <!-- Icône SVG -->
          <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5" >
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>
          <!-- Icône barrée pour masquer -->
          <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5" >
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223a10.477 10.477 0 0 1 8.02-3.723c4.639 0 8.573 3.01 9.963 7.183a1.012 1.012 0 0 1 0 .633c-.562 1.608-1.604 3.01-2.935 4.087M14.121 14.121a3 3 0 1 1-4.243-4.243" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M20 20L4 4" />
          </svg>
        </button>
      </div>
        <div *ngIf="signUpForm.get('confirmPassword')?.errors?.['required'] && signUpForm.get('confirmPassword')?.touched "class="text-sm text-red-600 mf-0">Confirm Password is required.</div>
        <div *ngIf="signUpForm.errors?.['mismatch'] && signUpForm.get('confirmPassword')?.touched" class="text-sm text-red-600 mf-0">Passwords do not match.</div>

      <!-- Global Error Message -->
      <div *ngIf="error" class="mb-4 text-sm text-red-600">
        {{ error }}
      </div>

      <!-- Submit Button -->
      <div class="relative">
        <button type="submit" [disabled]="signUpForm.invalid || loading" class="flex w-full justify-center rounded-md bg-[#C2FF7B] px-3 py-1.5 text-sm/6 font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-6" >
          <span *ngIf="loading" class="spinner mr-2"></span>
          Sign up
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      You have a account?
      <a routerLink="/login" class="font-semibold text-[#009688]">Sign in</a>
    </p>
  </div>
</div>
