<!-- to_do_web/src/app/task-create/task-create.component.html -->
<div class="flex fixed container w-full items-center space-x-4 mb-4 bottom-4">
  <input
    [(ngModel)]="newTaskContent"
    type="text"
    placeholder="Add a new task"
    class="flex-grow px-4 py-2 border border-gray-300 rounded-lg bg-[#dddddd] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
  />
  <button
    (click)="addTask()"
    class="px-4 py-2 font-semibold bg-[#b2ff59] hover:bg-[#C2FF7B] shadow hover:shadow-md transition-all duration-200 rounded-xl"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#555555"
    >
      <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
    </svg>
  </button>
</div>
